*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 500px) {body{ font-size: 20px;}}
@media screen and (max-width: 499px) {body{ font-size: 4vw;}}

body{
	padding: 0 .25em;
	font-family: 'Open Sans', sans-serif;
}

body > div{
    margin: 10px 0px;
}

.box{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    margin-top: 5px;
    padding: 5px;

    border: solid 2px gray;
    border-radius: 5px;
}

.box a:nth-child(3n), .box a:nth-child(3n-1){
    text-align: right;
}

.box a.head{
    text-align: center;
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: white;
}

.box a:nth-child(3n-2){
    border-left: solid 1px;
}

.box a:nth-child(6n-2), .box a:nth-child(6n-1), .box a:nth-child(6n){
    background-color: rgb(247, 242, 242);
}

.box a{
    border-right: solid 1px;
    border-bottom: solid 1px;
    padding: 0 5px;
}

.result{
	margin-top: 2px;
	border-top: solid 1px grey;
}

input, button {
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

input.erro{
	background-color: rgba(237,67,55,0.5)
}

.rowMovie{
	display: flex;
    	justify-content: space-between;
	border: solid 2px grey;
    	padding: 5px;
    	border-radius: 5px;
	margin: 5px 0;
}


table{
    position: relative;
    display: none;
    
    width: 100%;
    height: auto;
    max-height: calc(100vh - 6em);
    
    margin-top: 3em;
    
    overflow-y: scroll;
    overflow-x: scroll;
    
    font-family: 'Nunito', sans-serif;
    font-size: .4em;
}

table::-webkit-scrollbar {
    width: .2em;
    height: .5em;
}

table::-webkit-scrollbar-thumb {
    background-color: #ff6600;
}

table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
}

table th{
    border: 0;
    margin: 0;
    padding: 1em;
    
    background-color: #666666;

    position: sticky;
    top: 0;
    z-index: 1;
}

table th:nth-child(1){
    min-width: 25em;
    width: calc(100vw - 20em);
    border-top-left-radius: 0.5em;
}

table th:nth-child(2){
    min-width: 13em;
    width: calc(100vw - 20em);
}

table th:nth-child(3){
    min-width: 13em;
    width: calc(100vw - 20em);
    border-top-right-radius: 0.5em;
}

table th a{
    font-size: 1em;
    font-weight: bold;
    color: white;
}

table .linha{
    border: 0;
    margin: 0;
    padding: 0;
    
    background-color: #eeeeee;
    color: #666666;
}

table td{
    border: 0;
    margin: 0;
    
    font-size: 1em;
    font-weight: normal;
    
    
    white-space: normal;
    text-overflow: ellipsis;
    
    overflow: hidden;
    overflow-wrap: break-word;
}

table .colTexto{    
    padding: 0.5em;    
    padding-left: 1em;    
    text-align: left;
    vertical-align: middle;
}

table .colTexto a{    
    font-size: 1.4em;
    line-height: 1.3em;
}